.center_table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center_div{
	text-align: center;
}
.empty_row{
	height: 20px;
}

table input{
	padding: 5px;
}

.blue_back{
	background-color: #333333;
	padding: 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid black;
}

div .content {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: white;
    width: 300px;
    border-radius: 10px;
}
.button{
    width:100px;
    margin-left:auto;
    margin-right:auto;
}

#redisign-form input{
	width:250px;
}

#redisign-form td .column1{
	width:50px;
}

div .content {
    border: 1px solid #a1a1a1;
    padding: 10px 40px; 
    width: 400px;
    border-radius: 10px;
}
.button{
    width:100px;
    margin-left:auto;
    margin-right:auto;
}

.address{
	width:260px;
	height:100px;
}

.required {
    color: red;
    font-size: 15px;
    margin-left: 5px;
}

.center-element{
	margin-left: auto;
	margin-right: auto;
}

.width-130 {
	width:130px;
}

.width-270 {
	width:270px;
}



