#side_bar{
	border: 1px solid black;
	width: 220px;
	position: absolute;
	top: 228px;
	bottom: 0;
}

.left{
	float: left;
}

.heading{
	color: white;
	background-color: #0D4F9D;
	padding: 5px;
}

.user{
	padding: 5px;
}

.text{
	display: inline;
}
.username{
	font-weight: bold;
}

#main_content{
	margin-left: 230px;
	margin-top: 20px;
	/*text-align: center;*/
}